{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react", "react-native"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "jest": true
  },
  "rules": {
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "comma-dangle": "off",
    "import/no-namespace": "off",
    "class-methods-use-this": "off",
    "react-native/no-inline-styles": "off",
    "react/jsx-boolean-value": "off",
    "valid-jsdoc": "off"
  }
}
